
/*******************
    HEADER SECTION
******************/

.container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

div .main-header {
    padding: 0;
    margin: 0 auto;
    background-color: blue;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px #999999;
}

/*******************
    LOGO
******************/

#logo img {
    margin: 1% 0 0 10%;;
    border-radius: 100%;
}

#logo img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/*******************
    NAVBAR
******************/

.main-header #top {
    margin-top: 50px;
}

.main-header #top a {
    color: #ff7f50;;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
}

.main-header #top a:hover {
    font-size: 40px;
    text-shadow: 1px 5px 1px #ffffff;
}

.hero {
    margin: 0 auto;
}


.innerline {
    float: left;
    margin: 0 auto;
    text-align: center;
}
